.projects
    .wrapper
        h2 Мои работы
        .text1 Собраны избранные проекты, разработанные во время обучения в магистратуре

        article
            h3 Passengers Transportation
            p.link
                a(href="https://transport.minbulat.ru/") transport.minbulat.ru

            .slider
                .bullits
                    .slideo
                        input#slide-1-1.bullit(type='radio', name='slider-1', checked='')
                        label.slide(for='slide-1-1')
                        //label.i(for='slide-1-1')
                        img.image(src=require("../images/transport1.png"), alt='')
                    .slideo
                        input#slide-1-2.bullit(type='radio', name='slider-1')
                        label.slide(for='slide-1-2')
                        img.image(src=require("../images/transport2.png"), alt='')
                    .slideo
                        input#slide-1-3.bullit(type='radio', name='slider-1')
                        label.slide(for='slide-1-3')
                        img.image(src=require("../images/transport3.png"), alt='')
                    .slideo
                        input#slide-1-4.bullit(type='radio', name='slider-1')
                        label.slide(for='slide-1-4')
                        img.image(src=require("../images/transport4.png"), alt='')
                p.description.text2 Веб-приложения для просмотра и изменения информации об автобусах, маршрутах и остановках. Создан на React и Redux в качестве практической работы в университете.


        //article
        //    h3 Генератор dockerfile
        //    p.link
        //        a(href="https://rest.minbulat.ru/") rest.minbulat.ru
        //
        //    .slider
        //        .bullits
        //            .slideo
        //                input#slide-2-1.bullit(type='radio', name='slider-2', checked='')
        //                label.slide(for='slide-2-1')
        //                img.image(src=require("../images/rest1.png"), alt='')
        //            .slideo
        //                input#slide-2-2.bullit(type='radio', name='slider-2')
        //                label.slide(for='slide-2-2')
        //                img.image(src=require("../images/rest2.png"), alt='')
        //            .slideo
        //                input#slide-2-3.bullit(type='radio', name='slider-2')
        //                label.slide(for='slide-2-3')
        //                img.image(src=require("../images/rest3.png"), alt='')
        //            .slideo
        //                input#slide-2-4.bullit(type='radio', name='slider-2')
        //                label.slide(for='slide-2-4')
        //                img.image(src=require("../images/rest4.png"), alt='')
        //        p.description.text2 Веб-приложение, реализующее REST API. Создан в рамках курса по серверной разработке в университете.


        article
            h3 Генератор dockerfile
            p.link
                a(href="https://docker.minbulat.ru/") docker.minbulat.ru

            .slider
                .bullits
                    .slideo
                        input#slide-3-1.bullit(type='radio', name='slider-3', checked='')
                        label.slide(for='slide-3-1')
                        img.image(src=require("../images/docker1.png"), alt='')
                    .slideo
                        input#slide-3-2.bullit(type='radio', name='slider-3')
                        label.slide(for='slide-3-2')
                        img.image(src=require("../images/docker2.png"), alt='')
                    .slideo
                        input#slide-3-3.bullit(type='radio', name='slider-3')
                        label.slide(for='slide-3-3')
                        img.image(src=require("../images/docker3.png"), alt='')
                    .slideo
                        input#slide-3-4.bullit(type='radio', name='slider-3')
                        label.slide(for='slide-3-4')
                        img.image(src=require("../images/docker4.png"), alt='')
                p.description.text2 Графический интерфейс для приложения генерации докер-файлов. Пользователь заполняет форму за несколько шагов и получает готовый докер-файл (пока не реализовано). Создан на Vue в качестве практической работы в университете.

        article
            h3 Дизайн образовательных приложений
            p.link
                a(href="https://design.minbulat.ru/") design.minbulat.ru

            .slider
                .bullits
                    .slideo
                        input#slide-4-1.bullit(type='radio', name='slider-4', checked='')
                        label.slide(for='slide-4-1')
                        img.image(src=require("../images/design1.png"), alt='')
                    .slideo
                        input#slide-4-2.bullit(type='radio', name='slider-4')
                        label.slide(for='slide-4-2')
                        img.image(src=require("../images/design2.png"), alt='')
                    .slideo
                        input#slide-4-3.bullit(type='radio', name='slider-4')
                        label.slide(for='slide-4-3')
                        img.image(src=require("../images/design3.png"), alt='')
                    .slideo
                        input#slide-4-4.bullit(type='radio', name='slider-4')
                        label.slide(for='slide-4-4')
                        img.image(src=require("../images/design4.png"), alt='')
                p.description.text2 Доклад по теме "Структура и дизайн обучающих информационных систем". Выполнена в виде интерактивного приложения, в котором можно сравнить частые ошибки в верстке. Написана на JavaScript, используя Vue.
